*, *:before, *:after
	box-sizing: border-box
	margin: 0
	padding: 0
	
body
	font-size: $font-size-base
	line-height: 1.625
	font-family: $font-1
	@media(max-width: 480px)
		font-size: $font-size-base-mobile
a
	transition: color .2s

img
	max-width: 100%

h1, h2, h3, h4, h5, h6
	font-family: $font-2
	line-height: 1.12
	color: $color-text-blue
	font-weight: normal

p
	margin-top: 1.5em
	margin-bottom: 1.5em
	&:first-child
		margin-top: 0
	&:last-child
		margin-bottom: 0
	
h1, .title-1
	font-size: $font-size-title-1
h2, .title-2
	font-size: $font-size-title-2

.container
	max-width: 1240px
	width: auto
	margin-left: auto
	margin-right: auto
	padding-left: 20px
	padding-right: 20px
	position: relative
	list-style: none
